<div class="search-bar">
  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: 'Rechercher' %>
    <span></span>
    <%= select_tag :category, options_for_select(Product::CATEGORIES), prompt: "Categories", class: "dropd" %>
    <span></span>
    <%= button_tag type: :submit, class: "search-icon" do %><i class="fas fa-search"></i><% end %>
  <% end %>
</div>


<div class="indexes">
    <%= link_to 'Femmes', products_path(gender: 'femme'), class: "btn btn-blue" %>
    <%= link_to 'Hommes', products_path(gender: 'homme'), class: "btn btn-blue" %>
</div>
